<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>Goods</servlet-name>
    <url-pattern>/goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Goods</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.Goods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shopping</servlet-name>
    <url-pattern>/shopping</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Shopping</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.Shopping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>message</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pay</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>back</servlet-name>
    <url-pattern>/back</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>back</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.back.Back</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>backGoods</servlet-name>
    <url-pattern>/backGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>backGoods</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.back.BackGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>backCid</servlet-name>
    <url-pattern>/backCid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>backCid</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.back.BackCid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>backUser</servlet-name>
    <url-pattern>/backUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>backUser</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.back.BackUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logistics</servlet-name>
    <url-pattern>/logistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logistics</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.Logistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cid</servlet-name>
    <url-pattern>/cid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cid</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.Cid</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>cidGoods</servlet-name>
    <url-pattern>/cidGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cidGoods</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.CidGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>card</servlet-name>
    <url-pattern>/card</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>card</servlet-name>
    <servlet-class>xin.yohuyotu.HelloWorld.servlet.Card</servlet-class>
  </servlet>
</web-app>